.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
}
#sidebar .nav {
  width: 100%;
}
#sidebar li {
  border:0 rgba(242, 142, 33, 0.23) solid;
  border-bottom-width:1px;
}
h1 {
  padding-left: 15px;
}

div.panel-danger {
  border-color: #A45249;
}

div.panel-danger>.panel-heading {
  background-color: #A45249;
  border-color: #A45249;
  color: #f3f3f3;
}