@import 'variables';

.col-xs-12 {
  background-color: $color_white;
}
#sidebar {
  height: 100%;
  padding-right: 0;
}
#sidebar .nav {
  width: 100%;
}
#sidebar li {
  border:0 #fce5cc solid;
  border-bottom-width:1px;
}
h1 {
  padding-left: 15px;
}

#sidebar>.panel-default {
  border-color: $color_primary;
}

#sidebar>.panel-default>.panel-heading {
  background-color: $color_primary;
  border-color: $color_primary;
  color: $color_dirty_white;
}

#sidebar>.panel-default>.panel-body {
  padding: 0;
}

ul.nav>li.category-link>a:hover,
ul.nav>li.category-link>a:active,
ul.nav>li.category-link>a:focus {
  background-color: $color_light_orange;
}

ul.nav>li.active-category-link>a {
  background-color: $color_light_orange;
}
