@import 'variables';

body {
  font-family: "Open Sans", sans-serif;
}

.btn:focus,
.btn:active {
  border-color: rgba(246, 179, 105, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 179, 105, 0.6);
  outline: 0 none;
}

.btn.btn-success {
  background-color: $color_accent;
  border-color: $color_accentDark
}

.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus{
  background-color: darken($color_accent, 5);
}

Link, a, h1 {
  color: #7A3636;
}

Link:hover, Link:active, Link:focus, a:hover, a:active, a:focus {
  color: #9A4D46;
  text-decoration: none;
}

.align-center {
  display: flex;
  align-items: center;
}

.after-navbar {
  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
}

.after-navbar-search {
  margin-top: 70px;
}