.image-viewer {
  .image-viewer-selected-image-container {
    height: 300px;
    margin-bottom: 20px;
  }

  .image-viewer-selected-image-container img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .image-viewer-thumbnail {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    padding-right: 5px;
  }

  .image-viewer-thumbnail img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}