@import 'variables';

#ecuddles-navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

#hamburger-button {
  margin-left: 15px;
}

.container > .navbar-header {
  width: 100%;
}

.navbar-header-menu {
  float: right;
}

.navbar-header-menu > .navbar-nav {
  float: right;
  margin: 0;
}

.navbar-header-menu > .navbar-nav > li {
  float: right;
}

.navbar-header-menu > .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-header-menu > .navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-header-menu > .navbar-form > .form-group {
  display: inline-block;
}

.nav-searchbar {
  width: 400px;
}

.breather {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#product-search:focus {
  border-color: rgba(246, 179, 105, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 179, 105, 0.6);
  outline: 0 none;
}

#ecuddles-navbar.navbar-default {
  background-image: -webkit-linear-gradient(top, $color_primary 0%, $color_primarySemiDark 100%);
  background-image:      -o-linear-gradient(top, $color_primary 0%, $color_primarySemiDark 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color_primary), to($color_primarySemiDark));
  background-image:         linear-gradient(to bottom, $color_primary 0%, $color_primarySemiDark 100%);
}
#ecuddles-navbar.navbar-default .navbar-nav > .open > a,
#ecuddles-navbar.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, $color_primaryDark 0%, $color_primarySemiDark 100%);
  background-image:      -o-linear-gradient(top, $color_primaryDark 0%, $color_primarySemiDark 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color_primaryDark), to($color_primarySemiDark));
  background-image:         linear-gradient(to bottom, $color_primaryDark 0%, $color_primarySemiDark 100%);
}
#ecuddles-navbar.navbar-default .navbar-header .navbar-brand,
#ecuddles-navbar.navbar-default ul.navbar-nav>li>a {
  color: #e9e9e9;
}
#ecuddles-navbar.navbar-default .navbar-header .navbar-brand:hover,
#ecuddles-navbar.navbar-default .navbar-header .navbar-brand:active,
#ecuddles-navbar.navbar-default ul.navbar-nav>li>a:hover,
#ecuddles-navbar.navbar-default ul.navbar-nav>li>a:active,
#ecuddles-navbar.navbar-default ul.navbar-nav>li.active {
  color: #fff;
}
#hamburger-button>.icon-bar {
  background-color: #e9e9e9;
}
#hamburger-button>.icon-bar:hover,
#hamburger-button>.icon-bar:active,
#hamburger-button>.icon-bar:focus {
  background-color: #fff
}
#hamburger-button:hover,
#hamburger-button:active,
#hamburger-button:focus {
  background-color: $color_primaryDark;
}

.active-category {
  background-color: $color_light_orange;
}

#ecuddles-navbar.navbar-default ul.navbar-nav>li.active-category>a {
  color: $color_primary;
}

#ecuddles-navbar.navbar-default ul.navbar-nav>li.active-category>a:hover,
#ecuddles-navbar.navbar-default ul.navbar-nav>li.active-category>a:active {
  color: $color_primaryDark;
}