.notification-bar-container {
  margin-bottom: 0;
}

div.row.remove-margin {
  margin-right: 0;
  margin-left: 0;
}

.notification-bar {
  width: 100%;
  color: #f2f2f2;
  max-height: 0;
  transition: max-height 0.8s ease-out;
  -webkit-transition: max-height 0.8s ease-out;
  overflow: hidden;
}

.notification-bar-error {
  background-color: #F2876F;
}

.notification-bar-success {
  background-color: #7CB342;
}

.notification-bar-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.notification-bar-message {
  flex: 1;
}

.notification-bar-close {
  margin-left: 10px;
}

.notification-visible {
  max-height:60px;
}