.picture-box img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.picture-box img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.picture-box>.panel-body {
  padding: 5px;
  overflow: hidden;
}

.picture-box>.panel-body>.image {
  padding: 0;
  height: 200px;
}

.picture-box.panel-default {
  margin-bottom: 5px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 0;
}

.price {
  font-size: 16px;
  color: gray;
  margin-bottom: 3px;
}

.card {
  padding: 15px;
}