.btn-buy {
  width: 100%;
  margin-top: 10px;
}

.product-page-row {
  margin: 15px 0;
}

.product-price {
  font-size: 2.5em;
}

.icon-margin {
  margin-right: 7px;
}

.icon-green {
  color: #47a34b;
}

.icon-red {
  color: #da1a0c;
}

.product-detail {
  margin-bottom: 8px;

  .name {
    color: #7c7c7c;
    margin-bottom: 3px;
  }

  .value {

  }
}

.breather-bottom {
  margin-bottom: 10px;
}

.breather-bottom-20 {
  margin-bottom: 20px;
}