.image {
  padding: 0;
  height: 200px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

div.panel-body {
  padding: 2px;
}

div.panel-default {
  margin-bottom: 5px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 0;
}

.price {
  font-size: 16px;
  color: gray;
  margin-bottom: 3px;
}

.card {
  padding: 15px;
}