@import "variables";

.review-item {
  margin-top: 10px;
}

.review-stars {
  margin-top: 5px;
}

.right-breather {
  margin-right: 5px;
}

.review-item span.glyphicon.glyphicon-user {
  color: gray;
}