$color_primary: #A45249;
$color_primaryDark: darken($color_primary, 15);
$color_primarySemiDark: darken($color_primary, 5);

$color_accent: #F28E21;
$color_accentDark: darken($color_accent, 10);

$color_gray: #5c5c62;

$color_dirty_white: #f3f3f3;
$color_white: #fff;

$color_light_orange: #fce5cc;

$color_gray: #898589;